<%- include('partials/header') %>

<%- include('partials/navbar') %>

<div class="text-center">
  <div class="container">
   
    <h2 class="display-3 secret-heading">You've Discovered My Secret!</h2>
    
      <div class="para">

    <% userWithSecrets.forEach(function(user){ %>
     <% user.secret.forEach(function(secret){ %>
      
        <p class="secret-text"><%= secret.substring(0, 40) + " ......" %>
        <a href="/secrets/<%=user._id%>" target= "_blank">Unlock Secret <i class="fas fa-lock-open"></i> </a> <br>
         </p>
        
        
         
        
     <% }); %>
     
      <% }); %>

      </div> 
    
   
    <hr>
    
    
    
  </div>
</div>

<%- include('partials/footer') %>
